[submodule "TcpSocket"]
	path = TcpSocket
	url = git@github.com:sw4sys/lv-tcp-socket.git
	branch = library
[submodule "ArgumentParser"]
	path = ArgumentParser
	url = git@github.com:sw4sys/lv-argument-parser.git
	branch = library
[submodule "PythonWrapper"]
	path = PythonWrapper
	url = git@github.com:sw4sys/lv-python-wrapper.git
	branch = library
[submodule "Logger"]
	path = Logger
	url = git@github.com:sw4sys/lv-logger.git
	branch = library
